################################################################################
# Eclipse project files
#
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.ui.prefs

################################################################################
# IntelliJ workspace file
#
.idea

################################################################################
# User information: should not be checked in
#
**/accountInfo.xml

################################################################################
# Compilation directories and files
#
bin
out
emailer.jar
onsite.jar
payment.jar

################################################################################
# README artifacts
#
README/readme.aux
README/readme.log
README/readme.out
README/readme.pdf
README/readme.toc

################################################################################
# eticket folder
#
etickets
